@import "_baseFuc.scss";

body {
    background-color: #f3f3f3;
}

p {
    padding: 0 Size(42);
    margin: Size(32) 0;
    margin-bottom: Size(45);
    font-size:(36/2.6)+px;
    line-height:(56/2.6)+px;
    color: #8a898e;
    span {
        display: inline-block;
        color: #ff0000;
        a {
            color: inherit;
            text-decoration: none;
        }
    }
}

input,
textarea {
    display: block;
    border: none;
    box-sizing: border-box;
    padding: Size(35) Size(42);
    width: 100%;
    font-size: (40/2.6)+px;
    line-height: (56/2.6)+px;
    margin-bottom: Size(42);
    border-radius: 0;
}

textarea {
    resize: none;
    height: Size(228);
}

input[type=button] {
	width:95%;
	border-radius:5px;
	margin:0 auto;
    background-color: #fb4747;
    color: #fff;
}
